.Navigation-body {
  height: 100px;
  display: flex;
  justify-content: space-around;
  background: white;
}
.Logo-div {
  display: flex;
  flex-grow: 1;
  margin: auto;
}

.Navigation-content {
  display: flex;
  justify-content: space-between;
  flex-grow: 2;
  margin: auto;
}